@charset "UTF-8";
.login-box{ /* 로그인 박스 전체 틀 */
	display: inline-block;
} 
.tit_login{ /* 로그인 */
	display: inline-block;
	font-size:70px;
	font-family: "나눔고딕";
	top: 300px;   
	height: 90px;
	font-family: NanumGothic;
}
.int-id input{ /* ID입력단 */
	width: 430px;
	height: 60px;
	background: #EAEAEA;
	text-align: center; 
	border: none;
	font-size:25px; color:#838383;
}
.int-pw input{ /* PW입력단 */
	width: 430px;
	height: 60px;
	background: #EAEAEA;
	text-align: center; 
	border: none;
	font-size:25px; color:#838383;
}
	
 .checkbox_save {
    overflow: hidden;
    padding-bottom: 28px;
}
.label_checkbox {
    position: relative;
    padding: 0 0 3px 22px;
    font-size: 13px;
    line-height: 20px;
}

 .label_checkbox.checked:before {
    background: url(./images/ico_checkbox_on.png), no-repeat 50% 50%;
} 
 .label_checkbox:before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 16px;
    height: 17px;
    background: url(./images/ico_checkbox_off.png) no-repeat 50% 50%;
} 
.label_checkbox [type=checkbox] {
    position: absolute;
    left: 0;
    top: 3px;
    opacity: 0;
}
.label_checkbox {
    position: relative;
    padding: 0 0 3px 22px;
    font-size: 13px;
    line-height: 20px;
}

.checkbox_save .label_checkbox {
    float: left;
    margin-top: 9px;
}
.label_checkbox {
    position: relative;
    padding: 0 0 3px 22px;
    font-size: 13px;
    line-height: 20px;
}

.login_search {
   left: 600px;
   padding-top: 10px;
   text-indent: 155px;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}


.btn_type1 {
	width:430px;
    height: 80px;
	font-size: 25px; color:#fff;
    border: 1px solid  #589284;
    background-color:  #589284;

}
.btn_type2{

	width:430px;
    height: 80px;
	font-size: 25px; color:#589284;
    border: 1px solid  #589284;
    background-color:  #ffff;
}